@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Splash', cursive; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    flex-direction: column;
    gap:  60px;
}
a{
    position: relative;
    background: rgb(68, 68, 68);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5;
}
a:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
a:before{
    content: '';
    position: absolute;
    inset: 2px;
    background: rgb(83, 83, 83);
}
span{
    position: relative;
    z-index: 1;
}
i{
    position: absolute;
    inset: 0;
    display: block;
}
i::before{
    content: '';
    position: absolute;
    left: 85%;
    top: -3.5px;
    width: 11px;
    height: 6px;
    border: 2px solid var(--clr);
    background-color: rgb(53, 53, 53);
    transition: translateX(-50%);
    transition: 0.5s;
}
a:hover i::before{
    width: 30px;
    left: 15%;

}
i::after{
    content: '';
    position: absolute;
    left: 25%;
    bottom: -3.5px;
    width: 11px;
    height: 6px;
    border: 2px solid var(--clr);
    background-color: rgb(53, 53, 53);
    transition: translateX(-50%);
    transition: 0.5s;
}
a:hover i::after{
    width: 30px;
    left: 75%;
}